html, body, .screen, .row, .col {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.col {
  justify-content: center;
  display: flex;
}

.image-container {
  display: none;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

img {
  opacity: 0.5;
  max-width: 2.5cm;
  margin-bottom: 25%;
}

img:hover {
  opacity: 1;
}

.minus {
  display: none;
}

.title {
  z-index: 1;
  position: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

h2 {
  text-align: center;
}

.fade {
  -webkit-animation: fadeIn 4s linear forwards;
  animation: fadeIn 4s infinite alternate;
}

@-webkit-keyframes fadeIn {
  50% { opacity: 1; }
}

@keyframes fadeIn {
  50% { opacity: 1; }
}